html, body {
    height: 100%;
    margin: 0;
}

#map-view {
    position: absolute;
    width: 54%;
    left: 0px;
    bottom: 0px;
    top: 0px;
}

.charts-block {
    position: relative;
    width: 45%;
    float: right;
    overflow: hidden;
    top: 0px;
    left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    background-color: #333333;
}
    #upload-form {
        padding-top: 10px;
        padding-left: 10px;
    }   
        #inp-file-button {
            padding: 10px;
            height: 5%;
            width: 17%;
            color: black;
            background-color: #009578;
            border: 1px solid #000;
            border-radius: 5px;
            cursor: pointer;
        }

        #inp-file-button hover {
            background-color: #00b28f;
        }

        #inp-file-text {
            margin-left: 10px;
            font-family: sans-sherif;
            color: #FFFFFF;
        }

    .reset-button {
        position: relative;
        background-color: #aaaaaa;
        border: 1px solid #000;
        border-radius: 10%;
        cursor: pointer;
        width: 70px;
        height: 30px;
        top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .reset-button:hover {
        background-color: #bbbbbb;
    }

    .charts {
        margin-left: 5px;
        margin-top: 20px;
        height: 800px;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        width: 20px;
    }

      /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
