:focus {
    outline: none;
    box-shadow: none;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
    outline: none !important;
}

::-webkit-scrollbar {
    width: 20px;
}

    /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* ------------------------------------------------------------------------------- */

html, body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 1250px;
    overflow-y: hidden;
}

#map-view {
    position: absolute;
    width: 60%;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0; 
}

.charts-block {
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
    bottom: 0; 
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #333333;
}

.charts {
    position: relative;
    margin-left: 5px;
    height: 90%;
    height: calc(100%-120px);
    overflow-y: auto;
    overflow-x: hidden;
}

.control-block {
    position: relative;
    height: 100px;
    width: 94%;
    padding-bottom: 10px;
    padding-left: 7%;
    margin: 0;
}

.buttons-block {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}

#upload-file {
    height: 50%;
    width: 100%;
    margin-bottom: 1%;
}
#inp-file-button {
    position: relative;
    height: 100%;
    width: 100%;
    margin-right: 1%;
    
    color: black; 
    --inpBtnColor: #009578;
    --inpBtnColorHover: #00b28f;
    background-color: var(--inpBtnColor);
    border: 1px solid #000;
    opacity: 0.8;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px; 
}

#inp-file-button:hover {
    background-color: var(--inpBtnColorHover);
}

#left-buttons {
    position: relative;
    width: auto;
    height: 50%;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

.player-buttons {
    position: relative;
    margin: 1%;
    --playColor: #aaaaaa;
    --playColorHover: #bbbbbb;
    background-color: var(--playColor);
    border: 1px solid #000;
    border-radius: 10%;
    cursor: pointer;
}

.button-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reset-img {
    width: 50%;
}

#play-button-img {
    width: 45%;
}

#stop-button-img {
    width: 40%;
}

.player-buttons:hover { 
    background-color: var(--playColorHover);
}

#server-command-block {
    position: relative;
    top: 2%;
    width: 70%; 
    height: 100%;
    float: left;
}

#server-input {
    height: 50%;
    width: 100%;
}

.server-input-field {
    position: relative;
    float: left;
    width: 53%;
    height: 35%;

    margin-left: 2%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

    background-color: #f1f1f1;
    border-radius: 5px;
    padding-left: 2px;
    font-size: 14px;
}

/* ------- Checkbox ------- */
.container {
    position: relative;
    float: left;
    width: 40%;
    height: 35%;

    padding-left: 20px;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 1.5%;
    margin-bottom: 0;

    cursor: pointer;
    --checkColor: #888;
    color: var(--checkColor);
    font-size: 14px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    --checkColor: #888;
    background-color: var(--checkColor);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid #333333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------- Checkbox ------- */

#server-start-button {
    position: relative;
    /* float: right; */
    display: inline-block;
    width: 40%;
    height: 95%;
    /* margin-right: 1%; */
    /* margin-right: 0; */
    margin-left: 1%;

    color: black; 
    --sendColor: #009578;
    --sendColorHover: #00b28f;
    background-color: var(--sendColor);
    opacity: 0.8;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px; 
}

#server-start-button:hover {
    background-color: var(--sendColorHover);
}

#freq-input-download {
    position: relative;
    height: 50%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

#freq-input {
    position: relative;
    float: left;
    margin-left: 2%;
    width: 58%;
    top: 30%; 
    padding: 0;
}
        
#range-freq {
    width: 65%;
    -webkit-appearance: none;
    --sliderColor: #f1f1f1;
    --trackColor: #639fff;
}

#range-freq::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: var(--trackColor);
}

#range-freq::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--sliderColor);
    box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
        
#range-output {
    display: inline-block;
    width: 25%;
    color: #f1f1f1;
    margin-top: 0.5%;
    font-size: 14px;
    padding: 0;
}

#download {
    height: 90%;
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    /* margin-top: 1%; */
    width: 20%;
    margin-right: 1%;
    border-radius: 10px;
    cursor: pointer;
    --downloadColor: #aaaaaa;
    --downloadColorHover: #bbbbbb;
    background-color: var(--downloadColor);
}   

#download:hover {
    background-color: var(--downloadColorHover);
}

#download-img {
    max-height: 60%;
    width: 30%;
}

#upload-config {
    height: 90%;
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    /* margin-top: 1%; */
    width: 20%;
    margin-right: 1%;
    border-radius: 10px;
    cursor: pointer;
    --uploadColor: #888;
    --uploadColorHover: #888;
    background-color: var(--uploadColor);
}   

#upload-config:hover {
    background-color: var(--uploadColorHover);
}

#upload-config-img {
    max-height: 60%;
    width: 30%;
}

#server-log-block {
    position: relative;
    display: inline-block;
    width: 37.5%;
    height: 95%;
    top: 2%;
    font-size: 12px;
}

#log {
    width: 93.5%;
    height: 100%;
    margin-left: 1.5%;
    background-color: #f1f1f1;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    white-space: pre;
    overflow-wrap: normal;
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display: none; /* switch this */
}

/* ------------------------------------------------------------------------------- */

/* @media screen and (max-width: 1260px) {
    body { 
        height: 100vh;
        width: 1260px;
        overflow-x: scroll;
    }
} */

/* @media screen and (max-width: 1260px) and (max-height: 600px) {
    body { 
        height: 600px;
        width: 1260px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .esri-view {
        position: absolute;
        height: 600px;
        width: 1260 * 0.55;
        left: 0px;
        top: 0px;
        padding: 0;
        margin: 0;
    }    
} */

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left:48%;top: 40%;
    width:40px;height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
